@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.video {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    object-fit: cover;
    z-index: -1;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 33, 33, 0.84);
}

.navUl {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.navItems {
    padding: 20px;
    list-style: none;
}

.navAnchor {
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff;
    transition: 1s;
}

.navAnchor:hover {
    text-decoration: underline;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.container {
    height: 500px;
    width: 320px;
    background-color: rgba(33, 33, 33, 0.84);
    color: #fff;
    border-radius: 10px;
    position: relative;
}

.heading {
    text-align: center;
    padding: 10px;
}

.bookMarkContainerMain {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 5px;
    height: 390px;
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
}


.bookMarkContainerMain::-webkit-scrollbar {
    width: 5px;
}


.bookMarkContainerMain::-webkit-scrollbar-thumb {
    background: #4e4c4d;
    border-radius: 10px;
}

.bookmarkContainer {
    width: 100%;
}

.buttonContainer {
    text-align: center;
    width: 100%;
}

.bookmarkItems {
    text-align: center;
    transition: 0.5s;
    width: 100%;
    cursor: pointer;
}

.bookmarkItems:hover {
    background: rgba(82, 80, 80, 0.66);
}

.submitBtn {
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    color: #fff;
    background: #525050a8;
}

@media (max-width: 440px) {
    .navUl {
        gap: 0;
    }
    .navItems{
        padding: 10px;
    }
    .navAnchor {
        font-size: 1.2rem;
    }
    .container{
        width: 305px;
    }
}